    <ion-view ng-init="getInfo()" ng-controller="InfoController">
    <ion-pane>
      <ion-header-bar class="bar-dark" align-title="center">
          
        <h1 class="title">Movie Info</h1>
        <div class="buttons">
  </div>
      </ion-header-bar>
      
      <ion-content lazy-scroll class="has-header">
        
            <!--
            <ion-list>
        
  <ion-item class="item item-text-wrap item-thumbnail-left" ng-repeat="item in movieData">
    
    <img image-lazy-src="http://image.tmdb.org/t/p/w500/{{item.poster_path}}"
         image-lazy-loader="spiral" image-broken="{{item.poster_path}}" ng-hide="!item.poster_path" class="ng-hide" >
    
    <h2 class="padding-left">{{item.title}}</h2>
      
    <p class="padding-left">{{item.release_date | limitTo:4}}</p>
    
    
    <p class="padding-left" ng-click = "limit = item.overview.length;hideTap=true" ng-hide="!item.overview" class="ng-hide">
        {{item.overview}}
      </p>

  </ion-item>
</ion-list>
-->
            <div class="movie-info" ng-repeat="item in movieData">
                
                <div class="movie-image" >
                <img image-lazy-src="http://image.tmdb.org/t/p/w500/{{item.poster_path}}"
                image-lazy-loader="lines" image-broken="{{item.poster_path}}"
                     loader-class="image-loader-container-info" ng-hide="!item.poster_path" class="ng-hide" >
                </div>
                
                <h5 class="movie-info-header">Title</h5>
                <h4 class="movie-info-content">{{item.title}}</h4>
                
                <h5 class="movie-info-header">Release Year</h5>
                <h5 class="movie-info-content">{{item.release_date | limitTo:4}}</h5>
                
                <h5 class="movie-info-header">Genres</h5>
                <h5 class="movie-info-content">{{item.genres}}</h5>
                
                <h5 class="movie-info-header">Synopsis</h5>
                <p class="movie-info-synopsis">{{item.overview}}</p>
      
    
    
            </div>
  
      </ion-content>



        
    </ion-pane>
    
    </ion-view>
