    <ion-view ng-init="searchMember()" cache-view="false">
    <ion-pane>
      
      
      <ion-content>
        
       
      <div class="list list-inset">
          <label class="item item-input">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="text" placeholder="Search" ng-model="$parent.newMemberName" maxlength="50">
          </label>
      </div>
       
       
       <ion-list>
        
  <ion-item class="item item-text-wrap item-avatar item-button-right" ng-repeat="item in newMemData | filter : newMemberName">
    
    <img ng-src="{{item.picture.data.url}}" >
    
    <h2>{{item.name}}</h2>
      
    
    <button class="button button-clear" ng-click="addMember(item.id)">
      <i class="icon ion-plus-round"></i>
    </button>
      
  </ion-item>
</ion-list>

      
        
      </ion-content>



        
    </ion-pane>
    
    </ion-view>
