    <ion-view ng-init="startHere()" cache-view="false">
    <ion-pane>
      
      
      <ion-content>
      
      
      <div class="list" style="margin-bottom: 0px;">
        <div class="item item-input-inset">
          <label class="item-input-wrapper" style="font-size: 16px;line-height:3;">
          <i class="icon ion-search placeholder-icon"></i>
          <input type="text" placeholder="Filter by Group Name" ng-model="$parent.groupName">
          </label>
          <button ng-click="gotoAddGroup()" class="button button-stable icon ion-plus-round"></button>
        </div>
      </div>

    
      <div class="list">
        <a class="item item-avatar item-button-right" href="#/gtab/movie/{{item.group_id}}/{{item.group_name}}" ng-repeat="item in grpData | filter : groupName">
          <img src="img/group.png">
          <h2>{{item.group_name}}</h2>
          <p>{{item.member_cnt}} {{item.member_cnt>1 ? "Members" : "Member" }}</p>
          
        </a>
      </div>
      
  
        
      </ion-content>



        
    </ion-pane>
    
    </ion-view>
