 
<ion-view cache-view="false">
<ion-tabs class="tabs-positive tabs-icon-top">
  
    <ion-tab title="Members" icon="ion-person-stalker" href="#/gtab/member/{{groupIdParam}}/{{groupNameParam}}">
    <!-- Tab 1 content -->
    <ion-nav-view name="member-tab"></ion-nav-view>
    </ion-tab>
    
    <ion-tab title="Movies" icon="ion-android-film" href="#/gtab/movie/{{groupIdParam}}/{{groupNameParam}}">
    <!-- Tab 1 content -->
    <ion-nav-view name="movie-tab"></ion-nav-view>
    </ion-tab>
  
</ion-tabs>

<ion-header-bar class="bar-positive" align-title="center">
        <button ng-click="gotoGroup()" class="button button-clear ion-chevron-left"></button>
        <h1 class="title">{{groupNameParam}}</h1>
        <!--
        <button ng-click="" class="button button-clear icon ion-plus-round"></button>
        -->
        <button class="button button-clear button-medium" ng-click="exitGroup({{groupIdParam}})">
      <i class="icon ion-trash-a"></i>
    </button>
</ion-header-bar>
</ion-view>
<!--
<div class="bar bar-footer bar-dark">
  
</div>

-->