    <ion-view ng-init="getMemberData()" cache-view="false">
    <ion-pane>
      
      
      <ion-content>
        
       <!--
      <div class="list list-inset">
          <label class="item item-input">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="text" placeholder="Search" ng-model="$parent.memberName">
          </label>
      </div>
      -->
      <!--
      <div class="list">
        <a class="item item-avatar" href="#" ng-repeat="item in grpData | filter : gName">
          <img src="img/ionic.png">
          <h2>{{item.group_name}}</h2>
          <p>{{item.member_cnt}} {{item.member_cnt>1 ? "Members" : "Member" }}</p>
        </a>
      </div>
      
      -->
      
       <div class="list" style="margin-bottom: 0px;">
        <div class="item item-input-inset">
          <label class="item-input-wrapper" style="font-size: 16px;line-height:3;">
          <i class="icon ion-search placeholder-icon"></i>
          <input type="text" placeholder="Filter by Member Name" ng-model="$parent.memberName">
          </label>
          <button ng-click="gotoAddMember()" class="button button-stable icon ion-plus-round"></button>
        </div>
      </div>
       
      
      <div class="list">
        <a class="item item-avatar" href="#" ng-repeat="item in memData | filter : memberName">
          <img ng-src="https://graph.facebook.com/v2.5/{{item.id}}/picture?&type=small" imageonload>
          <span class="image-loader-container-fb loading"><ion-spinner icon="dots"></ion-spinner></span>
          <h2>{{item.name}}</h2>
        </a>
      </div>
  
        
      </ion-content>



        
    </ion-pane>
    
    </ion-view>
