    <ion-view ng-init="" cache-view="false">
    <ion-pane>
      
      
      <ion-content>
        
       
      <div class="list" style="margin-bottom: 0px;">
  <div class="item item-input-inset">
    <label class="item-input-wrapper" style="font-size: 16px;line-height:3;">
      <i class="icon ion-search placeholder-icon"></i>
      <input type="text" placeholder="Search" ng-model="movName">
    </label>
    <button ng-click="gotoAddMovie()" class="button button-assertive icon ion-plus-round"></button>
  </div>

</div>  
      
      <!--
      <div class="list">
        <a class="item item-avatar" href="#" ng-repeat="item in grpData | filter : gName">
          <img src="img/ionic.png">
          <h2>{{item.group_name}}</h2>
          <p>{{item.member_cnt}} {{item.member_cnt>1 ? "Members" : "Member" }}</p>
        </a>
      </div>
      
      -->
  
        
      </ion-content>



        
    </ion-pane>
    
    </ion-view>
