<ion-view cache-view="false">
    <ion-pane>
      
      <ion-content class="padding">
        
           
        <div class="list card">
          <div class="item item-divider">
            TMDB
          </div>
          <div class="item item-thumbnail-left item-text-wrap">
            <img src="img/tmdb.png" style="width:40%;height:70%;">
            <h2>themoviedb.org</h2>
            <p style="font-size:0.8em;">This product uses the TMDb API but is not endorsed or certified by TMDb.</p>
        </div>
       </div>   
          
          <div class="list card">
          <div class="item item-divider">
            Facebook
          </div>
          <div class="item item-thumbnail-left item-text-wrap">
            <img src="img/facebook.png" style="width:40%;height:70%;">
            <h2>facebook.com</h2>
            <p style="font-size:0.8em;">For providing the facebook login feature and graph API.</p>
        </div>
          </div>
          
          <div class="list card">
          <div class="item item-divider">
            Ionic
          </div>
          <div class="item item-thumbnail-left item-text-wrap">
            <img src="img/ionic.png" style="width:40%;height:70%;">
            <h2>ionicframework.com</h2>
            <p style="font-size:0.8em;">For providing excellent support for their framework.</p>
        </div>
          </div>

      </ion-content>
    </ion-pane>
    </ion-view>