 

<ion-tabs class="tabs-positive tabs-icon-top">
  
    <ion-tab title="Groups" icon="ion-star" href="#/tab/group">
    <!-- Tab 1 content -->
    <ion-nav-view name="group-tab"></ion-nav-view>
    </ion-tab>
    
    <ion-tab title="New Group" icon="ion-plus-round" href="#/tab/addgroup">
    <!-- Tab 1 content -->
    <ion-nav-view name="addgroup-tab"></ion-nav-view>
    </ion-tab>
    
    <ion-tab title="Profile" icon="ion-gear-b" href="#/tab/profile">
    <!-- Tab 1 content -->
    <ion-nav-view name="profile-tab"></ion-nav-view>
    </ion-tab>
  
  
</ion-tabs>

<ion-header-bar class="bar-positive" align-title="center">
        
        <h1 class="title">Share Movie</h1>
        <!--
        <button ng-click="gotoAddGroup()" class="button button-clear icon ion-plus-round"></button>
        -->

      </ion-header-bar>

<!--
<div class="bar bar-footer bar-dark">
  
</div>

-->