    <ion-view>
    <ion-pane>
      <ion-header-bar class="bar-royal" align-title="center">
        <h1 class="title">Home</h1>
      </ion-header-bar>
      
      <ion-content class="padding change-bg">
       
       <div class="logo">
        <img src="img/logo.png"/>
       </div> 
        
      <p class="white-text"><span style="color:white;">About Us</span><br>We take pride in keeping up-to-date with the latest products &
      services and the best treatments. We have well-trained beauticians who
      are experts in their work and pay particular attention to hygiene and cleanliness.
      Our goodnatured beauticians will delight you with a wide range of services.
      All services are designed keeping in mind the latest trends in India and customized to suit you.</p>
        
      </ion-content>



        
    </ion-pane>
    
    </ion-view>
