    <ion-view>
    <ion-pane>
      <ion-header-bar class="bar-royal" align-title="center">
        <h1 class="title">Offers</h1>
      </ion-header-bar>
      
      <ion-content class="change-bg">
      <div class="list">

     <a class="item item-text-wrap change-bg item-thumbnail-left" href="#">
      <img src="img/offer.png">
      <h2>FLAT 10% OFF</h2>
      <p class="offer-text">Flat 10% OFF on all services for appointments fixed using our app.</p>
    </a>
     
     <a class="item item-text-wrap change-bg item-thumbnail-left" href="#">
      <img src="img/offer.png">
      <h2>FREE WIFI ACCESS</h2>
      <p class="offer-text">We are providing free Wifi access for all our customers in our store.</p>
    </a>
    
      </div>
        
      </ion-content>



        
    </ion-pane>
    
    </ion-view>
