    <ion-view>
    <ion-pane>
      <ion-header-bar class="bar-royal" align-title="center">
        <h1 class="title">Our Services</h1>
      </ion-header-bar>
      
      <ion-content class="change-bg">
      
      <div class="list">

    <a class="item change-bg item-thumbnail-left" href="#">
      <img src="img/1.jpg">
      <h2 class="services">Hair Care</h2>
      
    </a>
    
    <a class="item change-bg item-thumbnail-left" href="#">
      <img src="img/2.jpg">
      <h2 class="services">Skin Care</h2>
      
    </a>
    
    <a class="item  change-bg item-thumbnail-left" href="#">
      <img src="img/3.jpg">
      <h2 class="services">Nutritional Counseling</h2>
      
    </a>
    
    <a class="item change-bg item-thumbnail-left" href="#">
      <img src="img/4.jpg">
      <h2 class="services">Total Bridal Make Over</h2>
      
    </a>
    
    <a class="item change-bg item-thumbnail-left" href="#">
      <img src="img/5.jpg">
      <h2 class="services">Beauty Courses</h2>
      
    </a>
    
    <a class="item change-bg item-thumbnail-left" href="#">
      <img src="img/6.jpg">
      <h2 class="services">Jewellery Making Courses</h2>
      
    </a>
    
    <a class="item change-bg item-thumbnail-left" href="#">
      <img src="img/7.jpg">
      <h2 class="services">Nail Art</h2>
      
    </a>
    
    <a class="item change-bg item-thumbnail-left" href="#">
      <img src="img/8.jpg">
      <h2 class="services">Imitation Jewellery</h2>
      
    </a>

</div>
        
      </ion-content>



        
    </ion-pane>
    
    </ion-view>
