 

<ion-tabs class="tabs-stable tabs-icon-top">
  
    <ion-tab title="Home" icon="ion-home" href="#/tab/about">
    <!-- Tab 1 content -->
    <ion-nav-view name="about-tab"></ion-nav-view>
  </ion-tab>
  
  <ion-tab title="Services" icon="ion-ios-cart" href="#/tab/services">
    <!-- Tab 1 content -->
    <ion-nav-view name="services-tab"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Offers" icon="ion-ios-star" href="#/tab/offers">
    <!-- Tab 1 content -->
    <ion-nav-view name="offers-tab"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Appointment" icon="ion-ios-time" href="#/tab/appointment">
    <!-- Tab 1 content -->
     <ion-nav-view name="appointment-tab"></ion-nav-view>
  </ion-tab>
  
    <ion-tab title="Contact" icon="ion-ios-telephone" href="#/tab/contact">
    <!-- Tab 1 content -->
     <ion-nav-view name="contact-tab"></ion-nav-view>
  </ion-tab>

</ion-tabs>

<!--
<div class="bar bar-footer bar-dark">
  
</div>

-->