 

<ion-tabs class="tabs-positive tabs-icon-top">
  
  <ion-tab title="Home" icon="ion-ios-home" href="#/tab/home">
    <!-- Tab 1 content -->
    <ion-nav-view name="home-tab"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Traffic Status" icon="ion-model-s" href="#/tab/traffic">
    <!-- Tab 1 content -->
    <ion-nav-view name="traffic-tab"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Statistics" icon="ion-stats-bars" href="#/tab/stats">
    <!-- Tab 1 content -->
     <ion-nav-view name="stats-tab"></ion-nav-view>
  </ion-tab>

</ion-tabs>

