    
    <ion-view ng-controller="UpdateController">
    <ion-pane>
      <ion-header-bar class="bar-dark" align-title="center">
        <h1 class="title">Traffic Status</h1>
        
      </ion-header-bar>
      
      <ion-content class="padding" ng-init="initialize()">
        
<div class="list">

  <div class="item item-input-inset">
    
      <input type="text" maxlength="50" placeholder="Share your update (Max 50 words)" style="width:90%;">
   
    <button class="button button-medium button-assertive">
      Post
    </button>
  </div>
  
  <div class="list">

    <a class="item item-avatar" href="#">
      <img src="img/ionic.png">
      <h2>Venkman</h2>
      <p>Back off, man. I'm a scientist.</p>
    </a>

</div>

</div>

      </ion-content>



        
    </ion-pane>
    
    </ion-view>

