 

<ion-tabs class="tabs-positive tabs-icon-top">
  
    <ion-tab title="Suggest" icon="ion-film-marker" href="#/tab/suggest">
    <!-- Tab 1 content -->
    <ion-nav-view name="suggest-tab"></ion-nav-view>
  </ion-tab>
  
  <ion-tab title="View" icon="ion-person-stalker" href="#/tab/drive">
    <!-- Tab 1 content -->
    <ion-nav-view name="drive-tab"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Settings" icon="ion-gear-b" href="#/tab/settings">
    <!-- Tab 1 content -->
    <ion-nav-view name="settings-tab"></ion-nav-view>
  </ion-tab>

</ion-tabs>

<!--
<div class="bar bar-footer bar-dark">
  
</div>

-->