<ion-view>
  <ion-pane>
    <ion-header-bar class="bar-assertive" align-title="center">
    <h1 class="title">CAPTAIN COOL</h1>
    
</ion-header-bar>  
    <ion-content class="padding img-background">
        
    <button class="button icon-left ion-ios-game-controller-b button-block button-positive home-btn home-btn-top">PLAY</button>
     <button class="button icon-left ion-person-stalker button-block button-positive home-btn home-btn-middle">MY TEAM</button>
     <button class="button icon-left ion-bookmark button-block button-positive home-btn home-btn-middle">STATISTICS</button>
     <button class="button icon-left ion-arrow-graph-up-right button-block button-positive home-btn home-btn-middle">RANKINGS</button>
    </ion-content>  
  </ion-pane>
</ion-view>
