    <ion-view>
    <ion-pane>
      <ion-header-bar class="bar-dark" align-title="center">
        <h1 class="title">Select Image</h1>
      </ion-header-bar>
      
      <ion-content class="padding">

          <button class="button button-stable" ng-click="getImage()">
  Choose Image
</button>

        <div class="imageHolder">
          <img ng-src="{{currentImage}}"/>
        </div>

          <button class="button button-positive" ng-click="">
  Proceed
</button>
          
      </ion-content>
<ion-footer-bar align-title="Center" class="bar-assertive">



</ion-footer-bar>



        
    </ion-pane>
    
    </ion-view>
