<ion-view ng-init="">
  <ion-pane>
    <ion-header-bar class="bar-assertive" align-title="center">
      
    <h1 class="title">Captain Cool</h1>
    
    

</ion-header-bar>  
    <ion-content class="padding img-background">
        
        <div class="list card">
          <div class="item item-divider item-royal item-button-right">
            Team 1
          </div>
          <div class="list">
            <div class="item item-button-right">
              Player 1
              <button disabled=true class="button button-clear batting-score">43 (34)</button>
            </div>
            <div class="item item-button-right">
              Player 1
              <button disabled=true class="button button-clear batting-score">43 (34)</button>
            </div>
            <div class="item item-button-right">
              Player 1
              <button disabled=true class="button button-clear batting-score">43 (34)</button>
            </div>
            <div class="item item-button-right">
              Player 1
              <button disabled=true class="button button-clear batting-score">43 (34)</button>
            </div>
            <div class="item item-button-right">
              Player 1
              <button disabled=true class="button button-clear batting-score">43 (34)</button>
            </div>
            <div class="item item-button-right">
              Player 1
              <button disabled=true class="button button-clear batting-score">43 (34)</button>
            </div>
            <div class="item item-button-right">
              Player 1
              <button disabled=true class="button button-clear batting-score">43 (34)</button>
            </div>
            <div class="item item-button-right">
              Player 1
              <button disabled=true class="button button-clear batting-score">43 (34)</button>
            </div>
            <div class="item item-button-right">
              Player 1
              <button disabled=true class="button button-clear batting-score">43 (34)</button>
            </div>
            <div class="item item-button-right">
              Player 1
              <button disabled=true class="button button-clear batting-score">43 (34)</button>
            </div>
            <div class="item item-button-right">
              Player 1
              <button disabled=true class="button button-clear batting-score">43 (34)</button>
            </div>
          </div>
        </div>
        
       <div class="list card">
          <div class="item item-divider item-royal item-button-right">
            Team 1
          </div>
          <div class="list">
            <div class="item item-button-right">
              Player 1
              <button disabled=true class="button button-clear batting-score">43 (34)</button>
            </div>
            <div class="item item-button-right">
              Player 1
              <button disabled=true class="button button-clear batting-score">43 (34)</button>
            </div>
            <div class="item item-button-right">
              Player 1
              <button disabled=true class="button button-clear batting-score">43 (34)</button>
            </div>
            <div class="item item-button-right">
              Player 1
              <button disabled=true class="button button-clear batting-score">43 (34)</button>
            </div>
            <div class="item item-button-right">
              Player 1
              <button disabled=true class="button button-clear batting-score">43 (34)</button>
            </div>
            <div class="item item-button-right">
              Player 1
              <button disabled=true class="button button-clear batting-score">43 (34)</button>
            </div>
            <div class="item item-button-right">
              Player 1
              <button disabled=true class="button button-clear batting-score">43 (34)</button>
            </div>
            <div class="item item-button-right">
              Player 1
              <button disabled=true class="button button-clear batting-score">43 (34)</button>
            </div>
            <div class="item item-button-right">
              Player 1
              <button disabled=true class="button button-clear batting-score">43 (34)</button>
            </div>
            <div class="item item-button-right">
              Player 1
              <button disabled=true class="button button-clear batting-score">43 (34)</button>
            </div>
            <div class="item item-button-right">
              Player 1
              <button disabled=true class="button button-clear batting-score">43 (34)</button>
            </div>
          </div>
        </div>
        
        
            
    </ion-content>  
  </ion-pane>
</ion-view>
