<ion-view ng-init="">
  <ion-pane>
    <ion-header-bar class="bar-assertive" align-title="center">
      
    <h1 class="title">Captain Cool</h1>
    
    

</ion-header-bar>  
    <ion-content class="padding img-background">
        
        <div class="list card">
          <div class="item item-divider item-royal item-button-right">
            Team 1
          </div>
          <div class="list">
            <div class="item">
              <div class="row">
                <div class="col col-50"></div>
                <div class="col">O</div>
                <div class="col">R</div>
                <div class="col">W</div>
                <div class="col">ECON</div>
              </div>
            </div>
            <div class="item">
              <div class="row">
                <div class="col col-50">Player 1</div>
                <div class="col">4</div>
                <div class="col">32</div>
                <div class="col">2</div>
                <div class="col">4.5</div>
              </div>
            </div>
            <div class="item">
              <div class="row">
                <div class="col col-50">Player 1</div>
                <div class="col">4</div>
                <div class="col">32</div>
                <div class="col">2</div>
                <div class="col">4.5</div>
              </div>
            </div>
            <div class="item">
              <div class="row">
                <div class="col col-50">Player 1</div>
                <div class="col">4</div>
                <div class="col">32</div>
                <div class="col">2</div>
                <div class="col">4.5</div>
              </div>
            </div>
            <div class="item">
              <div class="row">
                <div class="col col-50">Player 1</div>
                <div class="col">4</div>
                <div class="col">32</div>
                <div class="col">2</div>
                <div class="col">4.5</div>
              </div>
            </div>
            <div class="item">
              <div class="row">
                <div class="col col-50">Player 1</div>
                <div class="col">4</div>
                <div class="col">32</div>
                <div class="col">2</div>
                <div class="col">4.5</div>
              </div>
            </div>
            <div class="item">
              <div class="row">
                <div class="col col-50">Player 1</div>
                <div class="col">4</div>
                <div class="col">32</div>
                <div class="col">2</div>
                <div class="col">4.5</div>
              </div>
            </div>
            <div class="item">
              <div class="row">
                <div class="col col-50">Player 1</div>
                <div class="col">4</div>
                <div class="col">32</div>
                <div class="col">2</div>
                <div class="col">4.5</div>
              </div>
            </div>
            <div class="item">
              <div class="row">
                <div class="col col-50">Player 1</div>
                <div class="col">4</div>
                <div class="col">32</div>
                <div class="col">2</div>
                <div class="col">4.5</div>
              </div>
            </div>
            <div class="item">
              <div class="row">
                <div class="col col-50">Player 1</div>
                <div class="col">4</div>
                <div class="col">32</div>
                <div class="col">2</div>
                <div class="col">4.5</div>
              </div>
            </div>
            <div class="item">
              <div class="row">
                <div class="col col-50">Player 1</div>
                <div class="col">4</div>
                <div class="col">32</div>
                <div class="col">2</div>
                <div class="col">4.5</div>
              </div>
            </div>
            <div class="item">
              <div class="row">
                <div class="col col-50">Player 1</div>
                <div class="col">4</div>
                <div class="col">32</div>
                <div class="col">2</div>
                <div class="col">4.5</div>
              </div>
            </div>
          </div>
        </div>
        
      <div class="list card">
          <div class="item item-divider item-royal item-button-right">
            Team 1
          </div>
          <div class="list">
            <div class="item">
              <div class="row">
                <div class="col col-50"></div>
                <div class="col">O</div>
                <div class="col">R</div>
                <div class="col">W</div>
                <div class="col">ECON</div>
              </div>
            </div>
            <div class="item">
              <div class="row">
                <div class="col col-50">Player 1</div>
                <div class="col">4</div>
                <div class="col">32</div>
                <div class="col">2</div>
                <div class="col">4.5</div>
              </div>
            </div>
            <div class="item">
              <div class="row">
                <div class="col col-50">Player 1</div>
                <div class="col">4</div>
                <div class="col">32</div>
                <div class="col">2</div>
                <div class="col">4.5</div>
              </div>
            </div>
            <div class="item">
              <div class="row">
                <div class="col col-50">Player 1</div>
                <div class="col">4</div>
                <div class="col">32</div>
                <div class="col">2</div>
                <div class="col">4.5</div>
              </div>
            </div>
            <div class="item">
              <div class="row">
                <div class="col col-50">Player 1</div>
                <div class="col">4</div>
                <div class="col">32</div>
                <div class="col">2</div>
                <div class="col">4.5</div>
              </div>
            </div>
            <div class="item">
              <div class="row">
                <div class="col col-50">Player 1</div>
                <div class="col">4</div>
                <div class="col">32</div>
                <div class="col">2</div>
                <div class="col">4.5</div>
              </div>
            </div>
            <div class="item">
              <div class="row">
                <div class="col col-50">Player 1</div>
                <div class="col">4</div>
                <div class="col">32</div>
                <div class="col">2</div>
                <div class="col">4.5</div>
              </div>
            </div>
            <div class="item">
              <div class="row">
                <div class="col col-50">Player 1</div>
                <div class="col">4</div>
                <div class="col">32</div>
                <div class="col">2</div>
                <div class="col">4.5</div>
              </div>
            </div>
            <div class="item">
              <div class="row">
                <div class="col col-50">Player 1</div>
                <div class="col">4</div>
                <div class="col">32</div>
                <div class="col">2</div>
                <div class="col">4.5</div>
              </div>
            </div>
            <div class="item">
              <div class="row">
                <div class="col col-50">Player 1</div>
                <div class="col">4</div>
                <div class="col">32</div>
                <div class="col">2</div>
                <div class="col">4.5</div>
              </div>
            </div>
            <div class="item">
              <div class="row">
                <div class="col col-50">Player 1</div>
                <div class="col">4</div>
                <div class="col">32</div>
                <div class="col">2</div>
                <div class="col">4.5</div>
              </div>
            </div>
            <div class="item">
              <div class="row">
                <div class="col col-50">Player 1</div>
                <div class="col">4</div>
                <div class="col">32</div>
                <div class="col">2</div>
                <div class="col">4.5</div>
              </div>
            </div>
          </div>
        </div>
        
            
    </ion-content>  
  </ion-pane>
</ion-view>
