 

<ion-tabs class="tabs-dark tabs-icon-only">
    
    <ion-tab title="Profile" icon="ion-home" href="#/tab/profile">
    <!-- Tab 1 content -->
    <ion-nav-view name="profile-tab"></ion-nav-view>
  </ion-tab>
  
  <ion-tab title="Play" icon="ion-ios-game-controller-a" href="#/tab/play">
    <!-- Tab 1 content -->
    <ion-nav-view name="play-tab"></ion-nav-view>
  </ion-tab>
    
    <!--
  <ion-tab title="Team" icon="ion-person-stalker" href="#/tab/team">
    <ion-nav-view name="team-tab"></ion-nav-view>
  </ion-tab>
    -->
  
   <ion-tab title="Rankings" icon="ion-arrow-graph-up-right" href="#/tab/settings">
    <!-- Tab 1 content -->
    <ion-nav-view name="settings-tab"></ion-nav-view>
  </ion-tab>
    
    <ion-tab title="Help" icon="ion-log-out" href="#/tab/settings">
    <!-- Tab 1 content -->
    <ion-nav-view name="settings-tab"></ion-nav-view>
  </ion-tab>

</ion-tabs>

<!--
<div class="bar bar-footer bar-dark">
  
</div>

-->