    <ion-view>
    <ion-pane>
      <ion-header-bar class="bar-assertive" align-title="center">
        <h1 class="title">Guess the Movie</h1>
        <button class="button button-stable">Quit</button>
      </ion-header-bar>
    <ion-content class="padding change-bg">

      

<div class="row">
  <div class="col-75">
        
         <h4 class="game-header">SCORE : 0</h4>
         
  </div>
  <div class="col">
      <h4 class="timer">59</h4>
  </div>
</div>

<div class="row image-div-holder">
  <div class="image-div-first">
    <img ng-src="img/1.jpg">
  </div>
    <div class="image-div-second">
     <img ng-src="img/12.jpg">
  </div>
</div>

<h4 class="movie-name">SILENCE OF THE LAMBS</h4>

<div class="row input-row">
  <div class="col">
    <a href="#" class="input-keys">A</a>
  </div>
  <div class="col">
    <a href="#" class="input-keys">B</a>
  </div>
  <div class="col">
    <a href="#" class="input-keys">C</a>
  </div>
  <div class="col">
    <a href="#" class="input-keys">D</a>
  </div>
  <div class="col">
    <a href="#" class="input-keys">E</a>
  </div>
  <div class="col">
    <a href="#" class="input-keys">F</a>
  </div>
  <div class="col">
    <a href="#" class="input-keys">G</a>
  </div>
  <div class="col">
    <a href="#" class="input-keys">H</a>
  </div>
</div>

<div class="row input-row-second">
  <div class="col">
    <a href="#" class="input-keys">I</a>
  </div>
  <div class="col">
    <a href="#" class="input-keys">J</a>
  </div>
  <div class="col">
    <a href="#" class="input-keys">K</a>
  </div>
  <div class="col">
    <a href="#" class="input-keys">L</a>
  </div>
  <div class="col">
    <a href="#" class="input-keys">M</a>
  </div>
  <div class="col">
    <a href="#" class="input-keys">N</a>
  </div>
  <div class="col">
    <a href="#" class="input-keys">O</a>
  </div>
  <div class="col">
    <a href="#" class="input-keys">P</a>
  </div>
</div>

<div class="row input-row-second">
    <div class="col">
    <a href="#" class="input-keys">Q</a>
  </div>
  <div class="col">
    <a href="#" class="input-keys">R</a>
  </div>
    <div class="col">
    <a href="#" class="input-keys">S</a>
  </div>
  <div class="col">
    <a href="#" class="input-keys">T</a>
  </div>
  <div class="col">
    <a href="#" class="input-keys">U</a>
  </div>
  <div class="col">
    <a href="#" class="input-keys">V</a>
  </div>
  <div class="col">
    <a href="#" class="input-keys">W</a>
  </div>
  <div class="col">
    <a href="#" class="input-keys">X</a>
  </div>
</div>

<div class="row input-row-second">
  <div class="col">
    <a href="#" class="input-keys">Y</a>
  </div>
  <div class="col">
    <a href="#" class="input-keys">Z</a>
  </div>
  <div class="col">
    <a href="#" class="input-keys">&#8195;</a>
  </div>
  <div class="col">
    <a href="#" class="input-keys">&larr;</a>
  </div>
  <div class="col">
    <a href="#" class="input-keys">&crarr;</a>
  </div>
  <div class="col">
    
  </div>
  <div class="col">
    
  </div>
  <div class="col">
    
  </div>
</div>

      
 
    </ion-content>
    </ion-pane>
    </ion-view>
