    <ion-view ng-init="getMemberData()" cache-view="false">
    <ion-pane>
      
      
      <ion-content>
        
       
      <div class="list list-inset">
          <label class="item item-input">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="text" placeholder="Search" ng-model="$parent.memName">
          </label>
      </div>
      
      <!--
      <div class="list">
        <a class="item item-avatar" href="#" ng-repeat="item in grpData | filter : gName">
          <img src="img/ionic.png">
          <h2>{{item.group_name}}</h2>
          <p>{{item.member_cnt}} {{item.member_cnt>1 ? "Members" : "Member" }}</p>
        </a>
      </div>
      
      -->
      
      <div class="list">
        <a class="item item-avatar" href="#" ng-repeat="item in memData | filter : memName">
          <img ng-src="{{item.profile_pic_url}}">
          <h2>{{item.name}}</h2>
        </a>
      </div>
  
        
      </ion-content>



        
    </ion-pane>
    
    </ion-view>
