    <ion-view ng-controller="MainController">
    <ion-pane>

      
      <ion-content class="padding change-bg-image">
        
        <h4 class="welcomeText"> Welcome, {{userName}}</h4>
        <div class="image">
          <img ng-src="{{userPic}}"/>
        </div>
       <button class="button button-positive
        icon-left ion-social-facebook login-btn" ng-click="login()">
          Login with Facebook</button>
        
      </ion-content>



        
    </ion-pane>
    
    </ion-view>
